@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {
  font-family: 'Dongle', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121213;
  color: #fff;
}

header {
  margin: 20px auto;
  text-transform: uppercase;
  width: 300px;
}

.heading {
  font-size: 40px;
  text-align: center;
}

.word-grid {
  margin: 50px auto;
  display: grid;
  width: 350px;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.letter-box {
  text-transform: uppercase;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #999;
  aspect-ratio: 1;
}

.typed {
  transform: scale(1.1);
  border-width: 2px;
}

.correct {
  background: limegreen;
}

.wrong {
  background: rgb(219, 93, 93);
}

.notrightspot {
  background: rgb(255, 217, 0);
}

.keyboard-container {
  margin: 30px auto;
  width: 500px;
}

.key {
  width: 10%;
  padding: 5px 0;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  background: #818384;
  display: inline-flex;
  vertical-align: top;
  margin: 4px;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.wide {
  width: 17%;
  height: 37px;
}

.extra-wide {
  width: 50%;
}

/* Modal */
.modal-wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.show {
  display: flex;
}

.modal {
  background: rgba(42, 42, 42);
  color: #fff;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.modal__button {
  border: none;
  margin-top: 30px;
  outline: none;
  padding: 5px 20px;
  background-color: rebeccapurple;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
